@font-face {
  font-family: "LED1";
  font-weight: 700;
  font-style: normal;

  src: url("./LED1.ttf") format("truetype");
}
@font-face {
  font-family: "LED2";
  font-weight: 700;
  font-style: normal;

  src: url("./LED2.ttf") format("truetype");
}
 